.basic-layout{  
     padding: 0 !important;
     overflow-x: hidden;
     
}

.container-middle{
     display: flex !important;
     align-items: center !important;
     justify-content: center !important;
 
}