
.album-spinner-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center !important;
    
    h2{
        font-family: Helvetica;
        font-weight: bold;
        color: white;
        margin-right: 10px;
    }
}