
.album-spinner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        font-family: Helvetica;
        font-weight: bold;
        color: white;
        margin-right: 10px;
    }
}