.blog-post{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    align-self: center;
    border-radius: 10px;
   
    h1{
        color: white;
        margin-top: 70px;
        font-weight: bold;
        margin-bottom: 100px;
    }

    img{
        width: 50%;
    }

    &__body{
        color: white;
        width: 50%;
        display: flex;
        flex-direction: column;
        b{
            font-size: 20px;
            margin-bottom: 10px;
        }
        p{
            b{
                font-size: 20px;
            
            }
            color: white;
          
        }   
    
    }



    &__button{
      
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
     

        button{
          
            border: none;
            width: 100px;
            background-color: transparent;
            &:focus{
                background-color: transparent;
                border: none;
                box-shadow: none !important;
            }

            &:hover{
                
                background-color: transparent;
                img{
                    animation: grow 1s infinite;
                }
              
            }

            &:active{
                 
               background-color: transparent !important;
            }
        
        }
    }

}


@keyframes grow {   
    0% {height: 50px;}
    50% {height: 60px;}
    100% {height: 50px;}
}