
.navigation{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55px;
    position: fixed;
    background-color: black;
    z-index: 100;
    .navegation-container{
        display: flex;
        height: 55px;
        position:  fixed;
          a{
             
                text-decoration: none;
                margin-top: 10px;
                margin-left: 10px;
                color: white;
                font-size: 25px;
                font-weight: bold;
                
                &:hover{
                    cursor: pointer !important;
                }
        }


      
      
     
         .button{
             height: 50px;
             width: 50px;
             margin-top: 5px;
             border-radius: 50%;
             button{
                 height: 50px;
                 width: 50px;
                 border-radius: 50%;
                 background-color: #242526;
                 border: none;
                 cursor: pointer !important;

                  &:active{
                      background-color: #363739;
                      border: 0;
                      box-shadow: none !important;
                  }

                  &:focus{
                      box-shadow: none;
                      border: 0;
                      outline: none;
                  }
             }
         }
        
     }
     
}


.contenedor{
    width: 150px !important;
    height:30vh;
    background-color: #242526;
    border-radius: 5px;
    display: flex;
    border-right: 1px solid white;
    border-left: 1px solid white;
    

    &__menu{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
        margin-top: 18px;
        cursor: pointer;
        ul{
            display: flex;
            flex-direction: column;
            font-family: Helvetica;
            margin-top: 10px;
            a{
                color: white;
                text-decoration: none;
                font-size: 20px;
                list-style: none;
                width: 100%;
                display: flex;
                margin-bottom: 10px; 
                margin-left: 10px;
                width: 140px;
                
                &:hover{
                    background-color: #363739;
                    width: 95%;
                    border-radius: 10px;
                    
                }

                &:active{
                    background-color: #48494C;
                }

                img{
                    margin-right: 5px;
                }
            }
        }
    }
  }


.fade-in{
    animation: in 2s;
    position: fixed;
    top: 60px;
    left: 70px;
  
}

.fade-out{
    animation: out 2s;
    position: fixed;
    top: 60px;
    left: -300px;
}


@keyframes in{
    0% {left: -300px;}
    100% {left: 70px;}
    
}

@keyframes out{
    0% {left: 70px;}
    100% {left: -300px;}
}


 