.album-item{
    width: 300px;
    height: 200px;
 
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
    background-color: transparent;
    
    &__foto{
       
        width: 300px;
        height: 200px;
    
    }
    
}


.alta{
 width: 100%;

}

.ancha{
 
   width: 100% !important; 
   height: 200px ;

}